<template>
  <svg width="21" height="20" viewBox="0 0 21 20">
    <g
      style="fill:none;fill-rule:evenodd;stroke:none;stroke-width:1"
      transform="translate(-11)">
      <path
        d="M 30.76625,6 H 12.23375 C 11.552369,6 11,6.5356302 11,7.1963636 V 18.803636 C 11,19.46437 11.552369,20 12.23375,20 h 18.5325 C 31.447631,20 32,19.46437 32,18.803636 V 7.1963636 C 32,6.5356302 31.447631,6 30.76625,6 Z M 31,19 H 12 V 7 H 31 Z M 30,0.5 V 1 H 13 V 0.5 C 13,0.22385763 13.317132,0 13.708333,0 H 29.291667 C 29.682868,0 30,0.22385763 30,0.5 Z m 1,3 V 4 H 12 V 3.5 C 12,3.2238576 12.303807,3 12.678571,3 H 30.321429 C 30.696193,3 31,3.2238576 31,3.5 Z M 17.525936,16.815126 c 0.189296,0.118658 0.409621,0.182781 0.635222,0.184874 0.162582,-3.66e-4 0.323228,-0.03412 0.471293,-0.09904 l 6.673244,-2.878758 C 25.727279,13.845123 26,13.44313 26,12.99879 26,12.554449 25.727279,12.152456 25.305695,11.975378 L 18.632451,9.096619 C 18.273683,8.9425968 17.858699,8.9742323 17.529341,9.1807128 17.199983,9.3871932 17.000848,9.7405589 17,10.120031 v 5.757517 c 7.05e-4,0.378222 0.19841,0.730668 0.525936,0.937578 z M 18,10.168148 c -4.25e-4,-0.06586 0.03548,-0.12708 0.09451,-0.161146 0.03534,-0.00934 0.07266,-0.00934 0.108001,0 0.02666,-0.0058 0.05434,-0.0058 0.081,0 l 6.594834,2.803926 c 0.07623,0.02977 0.124789,0.101906 0.121502,0.180483 0.0024,0.07679 -0.04634,0.146633 -0.121502,0.174037 l -6.594834,2.810372 c -0.05848,0.03224 -0.130524,0.03224 -0.189002,0 -0.05717,-0.03576 -0.09245,-0.09592 -0.09451,-0.161145 z"
        style="fill:#000000;fill-rule:nonzero"/>
    </g>
  </svg>
</template>

<script>
  export default {}
</script>
