<template>
  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-92.000000, -115.000000)">
        <g transform="translate(92.000000, 115.000000)">
          <circle stroke="#000000" stroke-width="2" cx="12" cy="12" r="10"></circle>
          <rect fill="#000000" x="11" y="7" width="2" height="10" rx="1"></rect>
          <rect fill="#000000" x="7" y="11" width="10" height="2" rx="1"></rect>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {}
</script>
